* {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(188, 255, 233);
    padding-bottom: 25px;
}

#main {
    width: 98%;
    margin-top: 2em;
    border-radius: 3px;
    background-color: rgb(167, 243, 218);
    border: 0 auto;

}

#img-div {
    width: 96%;
    margin-top: 2em;
    border-radius: 8px;
    background-color: rgb(173, 230, 211);
}

#image {
    margin-top: 1em;
    border-bottom: 3em;
    border-radius: 50px;
    width: 30%;
    max-width: 100%;
    height: auto;
    display: block;
}


figure p {
    padding: 15px 0;
    font-size: 18px;
}

li {
    font-family: Courier;
    font-size: 18px;
    text-align: left;
    padding: 8px;
}

h1 {
    font-size: 50px;
}

h2 {
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 25px;
}

h3 {
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 25px;
}

#leia {
    padding-bottom: 2em;
}
